@import "../../styles/variables";

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  &--header {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden; // for .bg-body
    color: white;
    
    .bg-body {
      position: absolute;
      left: -5%;
      width: 110%;
      height: 100%;
      background: #ff3c00 linear-gradient(115deg, #ff3c00 0%, #ffbb00 100%);
      //background: #0b007d linear-gradient(115deg, #0b007d 0%, #2515ce 100%);
      box-shadow: inset 0px -10px 20px rgba(0,0,0,0.2);
      transform-origin: bottom left;
      transform: skewY(-4deg);
    }
    
    .content {
      position: relative;
      padding: 25px 25px 45px 25px;
      
      @media (min-width: 800px) {
        padding-bottom: 65px;
      }
      
      .logo {
        max-width: 384px;
      }
    }
  }
  
  &--content {
    flex: 1;
  }
  
  &--footer {
    $color: white;
    $background-color: #A8242B;
    position: relative;
    margin-top: 10vw;
    padding: 30px $base-margin 10px;
    color: $color;
    background-color: $background-color;
    z-index: 0;

    &:before {
      position: absolute;
      top: 0;
      left: -5%;
      width: 105%;
      height: 100%;
      content: " ";
      background-color: $background-color;
      transform-origin: top left;
      transform: skewY(-4deg);
      z-index: -1;
      box-shadow: inset 0px 10px 15px rgba(0,0,0,0.15);
    }
    
    a {
      color: $color;
    }
    
    .content {
      display: flex;
      justify-content: space-between;
      margin: auto;
      max-width: 800px;
      transform: skewY(-4deg);
      transform-origin: top left;
      line-height: 1.3em;
      
      & > div {
        flex: 1;
      }
      
      .title {
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
  }
}