@import "../../styles/variables";

.HomePage {
  margin: auto;
  max-width: 520px;
  
  .mission {
    text-align: center;
    color: #53945c;

    font-size: 1.2rem;
    @media (min-width: 800px) {
      font-size: 1.4rem;
    }
  }
  
  .new-message {
    margin: 10px auto 20px auto;
  }
}