@import "../../styles/variables";

.Message {
  padding: $base-margin * 0.75;
  border-radius: $base-border-radius;
  background: white;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06); // 0 0 10px rgba(0,0,0,0.1);

  .body {
    margin: 5px 0 8px;
    font-size: 1.5rem;
  }
  
  .txid {
    word-break: break-all;
    
    .fa {
      margin-left: 5px;
    }
  }
}